<h1>Game {{game._id}}</h1>
<p>It is player {{game.turn}}'s turn</p>

<hr />

<p>Talk some smack: </p>
<input id="chatInput" type="text">
<div id="chatLog"></div>

<p>Check out <a href="/">another</a> game</a></p>