<div class="panel" role="main" id="gamePanel">

	<div id="gameGrid">
		<div class="controls playerOne">
			<a href="#" class="col-0"><img src="../images/redChip.png" alt="Drop chip into column one." /></a>
			<a href="#" class="col-1"><img src="../images/redChip.png" alt="Drop chip into column one." /></a>
			<a href="#" class="col-2"><img src="../images/redChip.png" alt="Drop chip into column one." /></a>
			<a href="#" class="col-3"><img src="../images/redChip.png" alt="Drop chip into column one." /></a>
			<a href="#" class="col-4"><img src="../images/redChip.png" alt="Drop chip into column one." /></a>
			<a href="#" class="col-5"><img src="../images/redChip.png" alt="Drop chip into column one." /></a>
			<a href="#" class="col-6"><img src="../images/redChip.png" alt="Drop chip into column one." /></a>
		</div>
		<div class="column col-0 count-0">
			<!--<img src="../images/redChip.png" alt="" class="dot toggle" />-->
		
			<div class="row"></div>
			<div class="row"></div>
			<div class="row"></div>
			<div class="row"></div>
			<div class="row"></div>
			<div class="row"></div>
			
		</div>

		<div class="column col-1 count-2">
			<img src="../images/blueChip.png" alt="" class="dot row-1" />
			<img src="../images/redChip.png" alt="" class="dot row-0" />

			<div class="row"></div>
			<div class="row"></div>
			<div class="row"></div>
			<div class="row"></div>
			<div class="row"></div>
			<div class="row"></div>
		</div>
		<div class="column col-2 count-5">

		
			<img src="../images/redChip.png" alt="" class="dot row-5" />
			<img src="../images/blueChip.png" alt="" class="dot row-4" />
			<img src="../images/redChip.png" alt="" class="dot row-3" />
			<img src="../images/blueChip.png" alt="" class="dot row-2" />
			<img src="../images/redChip.png" alt="" class="dot row-1" />
			<img src="../images/redChip.png" alt="" class="dot row-0" />
		
			<div class="row"></div>
			<div class="row"></div>
			<div class="row"></div>
			<div class="row"></div>
			<div class="row"></div>
			<div class="row"></div>
		</div>
		<div class="column col-3 count-0">
			<div class="row"></div>
			<div class="row"></div>
			<div class="row"></div>
			<div class="row"></div>
			<div class="row"></div>
			<div class="row"></div>
		</div>
		<div class="column col-4 count-0">
			<div class="row"></div>
			<div class="row"></div>
			<div class="row"></div>
			<div class="row"></div>
			<div class="row"></div>
			<div class="row"></div>
		</div>
		<div class="column col-5 count-0">
			<div class="row"></div>
			<div class="row"></div>
			<div class="row"></div>
			<div class="row"></div>
			<div class="row"></div>
			<div class="row"></div>
		</div>
		<div class="column col-6 count-0">
			<div class="row"></div>
			<div class="row"></div>
			<div class="row"></div>
			<div class="row"></div>
			<div class="row"></div>
			<div class="row"></div>
		</div>
		
		<div class="board">
			<img src="../images/board.png" alt="" class="" />
		</div>
	</div>
</div>


<div class="panel" id="chatPanel">
	<label for="chatInput">Talk some smack:</label>
	<input id="chatInput" type="text">
	<div id="chatLog"></div>
</div>
