<div class="panel" role="main" id="gamePanel">
	<div class="controls playerOne">
		<a href="#" class="col-0"><img src="../images/redChip.png" alt="Drop chip into column one." /></a>
		<a href="#" class="col-1"><img src="../images/redChip.png" alt="Drop chip into column one." /></a>
		<a href="#" class="col-2"><img src="../images/redChip.png" alt="Drop chip into column one." /></a>
		<a href="#" class="col-3"><img src="../images/redChip.png" alt="Drop chip into column one." /></a>
		<a href="#" class="col-4"><img src="../images/redChip.png" alt="Drop chip into column one." /></a>
		<a href="#" class="col-5"><img src="../images/redChip.png" alt="Drop chip into column one." /></a>
		<a href="#" class="col-6"><img src="../images/redChip.png" alt="Drop chip into column one." /></a>
	</div>
	<div id="gameGrid">

		<div class="column col-0">
			<img src="../images/redChip.png" alt="" class="dot toggle" />	
		<!--
			<img src="../images/redChip.png" alt="" class="dot spot-5" />
			<img src="../images/blueChip.png" alt="" class="dot spot-4" />
			<img src="../images/redChip.png" alt="" class="dot spot-3" />
			<img src="../images/blueChip.png" alt="" class="dot spot-2" />
			<img src="../images/redChip.png" alt="" class="dot spot-1" />
			<img src="../images/redChip.png" alt="" class="dot spot-0" />
		-->
			<div class="slot"></div>
			<div class="slot"></div>
			<div class="slot"></div>
			<div class="slot"></div>
			<div class="slot"></div>
			<div class="slot"></div>
			
		</div>

		<div class="column col-1">
			<img src="../images/blueChip.png" alt="" class="dot spot-1" />
			<img src="../images/redChip.png" alt="" class="dot spot-0" />

			<div class="slot"></div>
			<div class="slot"></div>
			<div class="slot"></div>
			<div class="slot"></div>
			<div class="slot"></div>
			<div class="slot"></div>
		</div>
		<div class="column col-2">
			<div class="slot"></div>
			<div class="slot"></div>
			<div class="slot"></div>
			<div class="slot"></div>
			<div class="slot"></div>
			<div class="slot"></div>
		</div>
		<div class="column col-3">
			<div class="slot"></div>
			<div class="slot"></div>
			<div class="slot"></div>
			<div class="slot"></div>
			<div class="slot"></div>
			<div class="slot"></div>
		</div>
		<div class="column col-4">
			<div class="slot"></div>
			<div class="slot"></div>
			<div class="slot"></div>
			<div class="slot"></div>
			<div class="slot"></div>
			<div class="slot"></div>
		</div>
		<div class="column col-5">
			<div class="slot"></div>
			<div class="slot"></div>
			<div class="slot"></div>
			<div class="slot"></div>
			<div class="slot"></div>
			<div class="slot"></div>
		</div>
		<div class="column col-6">
			<div class="slot"></div>
			<div class="slot"></div>
			<div class="slot"></div>
			<div class="slot"></div>
			<div class="slot"></div>
			<div class="slot"></div>
		</div>
		
		<div class="board">
			<img src="../images/board.png" alt="" class="" />
		</div>
	</div>
</div>


<div class="panel" id="chatPanel">
	<a href="#" class="toggle">Open/Close Chat</a>
	<label for="chatInput">Talk some smack:</label>
	<input id="chatInput" type="text">
	<div id="chatLog"></div>
</div>
