<div class="panel" role="main" id="gamePanel">

	<div id="gameGrid">
		<div class="controls">
			{{gameControls user game}}
		</div>

		{{#each game.board}}

			<div class="column col-{{@index}}">
				
				{{#each this}}

					{{ drawDot @index this }}

				{{/each}}
				
				<div class="row"></div>
				<div class="row"></div>
				<div class="row"></div>
				<div class="row"></div>
				<div class="row"></div>
				<div class="row"></div>
		
			</div>

		{{/each}}

		<div class="board">
			<img src="../images/board.png" alt="" class="" />
		</div>
	</div>
</div>


<div class="panel" id="chatPanel">
	<label for="chatInput">Talk some smack:</label>
	<input id="chatInput" type="text">
	<div id="chatLog"></div>
</div>
