html
	background-color #4e95c7
body
	margin 0
	color white
	background-color #4e95c7
	font 15px/1.2em 'Source Sans Pro', sans-serif

a,
a:hover,
a:visited,
a:focus
	color white

#page
	width auto

header
	overflow hidden
	h1
		float left
		margin 15px 0 0 15px
		background url('../images/logo.png') no-repeat 0 0 transparent
		a
			display block
			width 500px
			height 91px
	nav
		float right
		margin 0 50px 0 0
		font-weight 600
	ul
		list-style none
		margin 0
		overflow hidden
	li
		float left
		margin 0 0 0 1px
		a
			display block
			line-height 30px
			padding 0 20px
			background-color #83cde2
			text-decoration none
			transition(all, .2s, ease)
		a:hover
			background-color #83cde2 * .9
			padding-top 5px

#content
	clear both
	overflow hidden
	padding 25px
	width auto

.game
	#content
		min-height 789px
		background url('../images/boy.png') no-repeat right bottom transparent
		border-bottom 5px solid white

#chatPanel
	float left

#gamePanel
	float right
	margin 58px 255px 0 0
	width auto
