$cellSize2 = 50
$cellSize3 = 38

@media only screen and (min-width: 901px) and (max-width: 1200px)
	// html,
	// body
	// 	background none red !important
	#gamePanel
		margin-right 5%
	// #content
	// 	height 600px




@media only screen and (min-width: 481px) and (max-width: 900px)
	// html,
	// body
	// 	background none black !important
	header
		h1
			background-size 355px auto
			a
				width 355px
				height 64px
		nav
			margin 0
			ul
				padding 0
			li
				margin 0 0 1px
				float none
	.gameStats
		float none
		clear left
		margin 10px 0 0 15px
		padding 10px 0 0
		color black

	.game
		background-color #e0e0e0
	.game #page
		background url('../images/boy.png') no-repeat right -10px transparent
	#gamePanel
		margin-right 10%

	$gameGridCreator($cellSize2)

	#gameGrid .board img
		width 100%


@media only screen and (min-width: 0px) and (max-width: 480px)
	// html,
	// body
	// 	background none white !important

	header
		h1
			background-size 250px auto
			a
				width 250px
				height 60px
		nav
			float left
			margin 0
			ul
				padding 0
	.gamesList
		width 100%
		li
			.actions
				display block
				float none
				padding 10px 0
				a
					padding 10px
					margin 10px
					background-color #83cde2

	.gameStats
		float none
		clear left
		margin 10px 0 0 15px
		padding 10px 0 0
		font-weight 600

	.game
		background-color #e0e0e0
	.game #page
		background url('../images/boy.png') no-repeat right -10px transparent
	#gamePanel
		margin 10% 5% 0 0

	#chatPanel
		margin 2% 0 0 -5%
		width 100%

	$gameGridCreator($cellSize3)

	#gameGrid .board img
		width 100%