body{font:14px "Lucida Grande",Helvetica,Arial,sans-serif}
a{color:#00b7ff}
li{color:#00f}
h2{color:#800080}
#page{width:95%;margin:0 auto}
#content{width:100%;min-width:1060px}
.panel{float:left}
#gamePanel{width:65%;margin-right:5%}
#gameGrid{position:relative;width:525px;height:450px;margin-top:85px;margin-bottom:1em;-webkit-border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px;-o-border-radius:10px;border-radius:10px;}
#gameGrid .board{position:absolute;top:-6px;left:-6px;z-index:30;opacity:.9;filter:alpha(opacity=90);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";}
#gameGrid .board img{-webkit-border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px;-o-border-radius:10px;border-radius:10px;border:3px solid #f7d805}
#gameGrid .column{position:relative;float:left;width:75px;height:450px;text-align:center}
#gameGrid .slot{float:left;width:65px;height:65px;background-color:#fff;-webkit-border-radius:50px;-moz-border-radius:50px;-ms-border-radius:50px;-o-border-radius:50px;border-radius:50px;-webkit-box-shadow:inset 1px 2px 5px #000;-moz-box-shadow:inset 1px 2px 5px #000;-ms-box-shadow:inset 1px 2px 5px #000;-o-box-shadow:inset 1px 2px 5px #000;box-shadow:inset 1px 2px 5px #000;margin:5px}
#gameGrid .dot{width:75px;height:75px;position:absolute;top:0;left:0;margin-top:-85px;-webkit-transition:margin .35s cubic-bezier(.95,.05,.795,.035);-moz-transition:margin .35s cubic-bezier(.95,.05,.795,.035);-ms-transition:margin .35s cubic-bezier(.95,.05,.795,.035);-o-transition:margin .35s cubic-bezier(.95,.05,.795,.035);transition:margin .35s cubic-bezier(.95,.05,.795,.035)}
#gameGrid .dot.spot-0{margin-top:375px}
#gameGrid .dot.spot-1{margin-top:300px}
#gameGrid .dot.spot-2{margin-top:225px}
#gameGrid .dot.spot-3{margin-top:150px}
#gameGrid .dot.spot-4{margin-top:75px}
#gameGrid .dot.spot-5{margin-top:0}
.playerOne{color:#f00}
.playerTwo{color:#008000}
#chatPanel{width:30%}
#chatInput{margin:0 0 20px;border:1px solid #ccc;width:100%;-webkit-box-shadow:3px 3px 8px #ddd inset,3px 3px 8px #888;-moz-box-shadow:3px 3px 8px #ddd inset,3px 3px 8px #888;-ms-box-shadow:3px 3px 8px #ddd inset,3px 3px 8px #888;-o-box-shadow:3px 3px 8px #ddd inset,3px 3px 8px #888;box-shadow:3px 3px 8px #ddd inset,3px 3px 8px #888}
#chatLog{margin:0 0 20px;padding:25px;height:200px;border:1px solid #ccc;-webkit-box-shadow:3px 3px 8px #888;-moz-box-shadow:3px 3px 8px #888;-ms-box-shadow:3px 3px 8px #888;-o-box-shadow:3px 3px 8px #888;box-shadow:3px 3px 8px #888;overflow:auto;}
#chatLog p{margin:0 0 5px}
html{background-color:#4e95c7}
body{margin:0;color:#fff;background-color:#4e95c7;font:15px/1.2em 'Source Sans Pro',sans-serif}
a,a:hover,a:visited,a:focus{color:#fff}
#page{width:auto}
header{overflow:hidden;}
header h1{float:left;margin:15px 0 0 15px;background:url("../images/logo.png") no-repeat 0 0 transparent;}
header h1 a{display:block;width:500px;height:91px}
header nav{float:right;margin:0 50px 0 0;font-weight:600}
header ul{list-style:none;margin:0;overflow:hidden}
header li{float:left;margin:0 0 0 1px;}
header li a{display:block;line-height:30px;padding:0 20px;background-color:#83cde2;text-decoration:none;-webkit-transition:all .2s ease;-moz-transition:all .2s ease;-ms-transition:all .2s ease;-o-transition:all .2s ease;transition:all .2s ease}
header li a:hover{background-color:#76b9cb;padding-top:5px}
#content{clear:both;overflow:hidden;padding:25px;width:auto}
