body{font:14px "Lucida Grande",Helvetica,Arial,sans-serif}
a{color:#00b7ff}
li{color:#00f}
h2{color:#800080}
#page{width:95%;margin:0 auto}
#content{width:100%;min-width:1060px}
.panel{float:left}
#gamePanel{width:65%;margin-right:5%}
<<<<<<< HEAD
#gameGrid{position:relative;width:706px;height:606px;margin:0 0 1em 0;padding:100px 0 0 0;}
#gameGrid .board{position:absolute;top:100px;left:0;z-index:30;width:700px;height:600px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;border:3px solid #f7d805;background-color:#f7e305;opacity:.7;filter:alpha(opacity=70);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"}
#gameGrid .column{position:relative;float:left;width:100px;height:100%;text-align:center}
#gameGrid .dot{width:100px;height:100px;position:absolute;top:0;left:0;margin-top:-100px;-webkit-transition:margin .35s cubic-bezier(.95,.05,.795,.035);-moz-transition:margin .35s cubic-bezier(.95,.05,.795,.035);-ms-transition:margin .35s cubic-bezier(.95,.05,.795,.035);-o-transition:margin .35s cubic-bezier(.95,.05,.795,.035);transition:margin .35s cubic-bezier(.95,.05,.795,.035)}
=======
#gameGrid{position:relative;width:525px;height:450px;margin:110px 0 1em 0;-webkit-border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px;-o-border-radius:10px;border-radius:10px;border:3px solid #f7d805;}
#gameGrid .board{position:absolute;top:0;left:0;z-index:-30;width:100%;height:100%;background-color:#f7e305;opacity:.7;filter:alpha(opacity=70);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"}
#gameGrid .column{position:relative;float:left;width:75px;height:100%;text-align:center}
#gameGrid .slot{width:75px;height:75px;background-color:#fff;-webkit-border-radius:50px;-moz-border-radius:50px;-ms-border-radius:50px;-o-border-radius:50px;border-radius:50px;-webkit-box-shadow:inset 1px 2px 5px #000;-moz-box-shadow:inset 1px 2px 5px #000;-ms-box-shadow:inset 1px 2px 5px #000;-o-box-shadow:inset 1px 2px 5px #000;box-shadow:inset 1px 2px 5px #000}
#gameGrid .dot{width:75px;height:75px;position:absolute;top:0;left:0;margin-top:-116px;-webkit-transition:margin 1s ease-in-out;-moz-transition:margin 1s ease-in-out;-ms-transition:margin 1s ease-in-out;-o-transition:margin 1s ease-in-out;transition:margin 1s ease-in-out}
>>>>>>> Game Grid Revisions
#gameGrid .dot.spot-0{margin-top:500px}
#gameGrid .dot.spot-1{margin-top:400px}
#gameGrid .dot.spot-2{margin-top:300px}
#gameGrid .dot.spot-3{margin-top:200px}
#gameGrid .dot.spot-5{margin-top:0}
.playerOne{color:#f00}
.playerTwo{color:#008000}
#chatPanel{width:30%}
#chatInput{margin:0 0 20px;border:1px solid #ccc;width:100%;-webkit-box-shadow:3px 3px 8px #ddd inset,3px 3px 8px #888;-moz-box-shadow:3px 3px 8px #ddd inset,3px 3px 8px #888;-ms-box-shadow:3px 3px 8px #ddd inset,3px 3px 8px #888;-o-box-shadow:3px 3px 8px #ddd inset,3px 3px 8px #888;box-shadow:3px 3px 8px #ddd inset,3px 3px 8px #888}
#chatLog{margin:0 0 20px;padding:25px;height:200px;border:1px solid #ccc;-webkit-box-shadow:3px 3px 8px #888;-moz-box-shadow:3px 3px 8px #888;-ms-box-shadow:3px 3px 8px #888;-o-box-shadow:3px 3px 8px #888;box-shadow:3px 3px 8px #888;overflow:auto;}
#chatLog p{margin:0 0 5px}
