@import 'nib'

$numCols = 7
$numRows = 6
$cellSize = 75
$cellPadding = 5


vendor(prop, args)
    -webkit-{prop} args
    -moz-{prop} args
    -ms-{prop} args
    -o-{prop} args
    {prop} args

box-shadow()
	vendor('box-shadow', arguments)
   
transition()
    vendor('transition', arguments)

border-radius(n)
  vendor('border-radius', arguments)
	

body
	font 14px "Lucida Grande", Helvetica, Arial, sans-serif
  
a
	color #00B7FF

h2
	color #332f60

#page
	width 95%
	margin 0 auto

#content
	width 100%

.panel
	float left

#gamePanel
	width 65%
	margin-right 5%

.controls
	width $cellSize*$numCols px 
	overflow hidden
	margin-bottom ($cellPadding*2) px
	a
		display block
		float left
		img
			width $cellSize px
			height $cellSize px
#gameGrid
	position relative
	width $cellSize*$numCols px
	height $cellSize*$numRows px
	//margin-top $cellSize + ($cellPadding*2) px
	margin-bottom 1em
	border-radius(10px)
	//border 3px solid #f7d805

	.board
		position absolute
		top ($cellSize + ($cellPadding*2) - 3)px
		left -6px
		z-index 30
		//width 100%
		//height 100%
		//background-color #f7e305
		opacity 0.9
		img
			border-radius(10px)
			border 3px solid #f7d805
			//opacity 0.9

	.column
		position relative
		float left
		width $cellSize px
		height $cellSize*$numRows px
		text-align center

	.slot
		float left
		width $cellSize - $cellPadding*2 px
		height $cellSize - $cellPadding*2 px
		background-color white
		border-radius(50px)
		box-shadow(inset 1px 2px 5px #000)
		margin $cellPadding px

	.dot
		width $cellSize px
		height $cellSize px
		position absolute
		top 0
		left 0
		margin-top -($cellSize + ($cellPadding*2) + 4) px
		// http://matthewlein.com/ceaser/ <-- easing tool
		transition(margin, .35s, cubic-bezier(0.950,  0.050, 0.795, 0.035))
		//transition(margin, 1s, ease-in-out)

	.dot.slot-0
		margin-top $cellSize*5 px
	.dot.slot-1
		margin-top $cellSize*4 px
	.dot.slot-2
		margin-top $cellSize*3 px
	.dot.slot-3
		margin-top $cellSize*2 px
	.dot.slot-4
		margin-top $cellSize px
	.dot.slot-5
		margin-top 0

		
.gamesList
	width 50%
	ul
		list-style none
		margin 0
		padding 0
		background-color white
		border-radius(10px)
		// -webkit-background-clip padding-box
		// background-clip padding-box
		color #333
		opacity 0.9
	li
		padding .5em
		border-top 1px solid #83cde2
		transition(all, .5s, ease-in-out)
		a 
			color #4e95c7
			font-weight bold
		.actions
			float right
			a
				padding 0 .5em
	li:first-child
		border-top none
	li:hover
		background-color #83cde2
		
		


@import 'layout'
@import 'media-queries'
